body {
    margin: 0;
    padding: 0;
}

.header {
    height: 58px;
    text-align: center;
    line-height: 54px;
    background-color: black;
}

.web-develop {
    text-decoration: none;
    color: white;
    font-size: 26px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.gamedev {
    margin-left: 30px;
    text-decoration: none;
    color: white;
    font-size: 26px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.programming-languages {
    margin-left: 30px;
    text-decoration: none;
    color: white;
    font-size: 36px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.machine-learning {
    margin-left: 30px;
    text-decoration: none;
    color: white;
    font-size: 26px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mobile-develop {
    margin-left: 30px;
    text-decoration: none;
    color: white;
    font-size: 26px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.info {
    margin-left: 17px;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
}

.angle {
    position: relative;
    top: 3px;
}

.name_html {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 31.1px;
    margin-top: 5px;
    margin-bottom: -10px;
}

.html {
    position: relative;
    float: left;
    margin-left: 19px;
    margin-top: -15px;
    margin-right: 15px;
}

.about_language {
    font-family: "Kode Mono", monospace;
    margin-top: -20.5px;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    letter-spacing: 1.38px;
    word-spacing: -6.5px;
    margin-left: 15px;
    margin-bottom: -15px;
}

.name_css {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 40.7px;
    margin-top: 15px;
    margin-bottom: -10px;
}

.css {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -10px;
    margin-right: 15px;
}

.frameworks {
    text-decoration: none;
    color: rgb(61, 60, 60);;       
}
.frameworks:hover {
    color: black;
}

.name_js {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 60.7px;
    margin-top: 13px;
    margin-bottom: -10px;
}

.js {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -13px;
    margin-right: 15px;
    margin-bottom: -15px;
}

.name_php{
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 53.7px;
    margin-top: 13px;
    margin-bottom: -35px;
}

.php {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -13px;
    margin-right: 15px;
}

.name_boostrap {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 5.7px;
    margin-top: 13px;
    margin-bottom: -15px;
}

.boostrap {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -16px;
    margin-right: 15px;
}

.name_react {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 30.7px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.react {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -17px;
    margin-right: 15px;
}


.name_vue {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 51.7px;
    margin-top: 13px;
    margin-bottom: -12px;
}

.vue {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -13px;
    margin-right: 15px;
}

.name_angular {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 10.7px;
    margin-top: 13px;
    margin-bottom: 0px;
}

.angular {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -13px;
    margin-right: 15px;
    margin-bottom: -11px;
}

.name_laravel {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 8.7px;
    margin-top: 13px;
    margin-bottom: 0px;
}

.laravel {
    width: 128px;
    height: 128px;
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -13px;
    margin-right: 15px;
}

.name_symfony {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 8.7px;
    margin-top: 13px;
    margin-bottom: -10px;
}

.symfony {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -13px;
    margin-right: 15px;
    margin-bottom: -12px;
}

.name_python {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 20.7px;
    margin-top: 13px;
    margin-bottom: -10px;
}

.python {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -13px;
    margin-right: 15px;
    margin-bottom: -5px;
}

.name_java {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 36.7px;
    margin-top: 13px;
    margin-bottom: -10px;
}

.java {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -13px;
    margin-right: 15px;
    margin-bottom: -10px;
}

.name_swift {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 31.7px;
    margin-top: 13px;
    margin-bottom: -10px;
}

.swift {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -13px;
    margin-right: 15px;
    margin-bottom: -10px;
}

.name_kotlin {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 21.7px;
    margin-top: 13px;
    margin-bottom: -10px;
}

.kotlin {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -13px;
    margin-right: 15px;
    margin-bottom: -10px;
}

.name_dart {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 35.7px;
    margin-top: 13px;
    margin-bottom: -10px;
}

.dart {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -13px;
    margin-right: 15px;
    margin-bottom: -10px;
}

.name_cpp {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 56.7px;
    margin-top: 13px;
    margin-bottom: -10px;
}

.cpp {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -13px;
    margin-right: 15px;
    margin-bottom: -10px;
}

.name_unity {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 32.7px;
    margin-top: 13px;
    margin-bottom: -7px;
}

.unity {
    position: relative;
    float: left;
    margin-left: 12px;
    margin-top: -13px;
    margin-right: 22px;
    margin-bottom: -10px;
}

.name_ue {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 61.7px;
    margin-top: 13px;
    margin-bottom: -10px;
}

.ue {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -13px;
    margin-right: 15px;
    margin-bottom: -10px;
}

.name_godot {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 30.7px;
    margin-top: 13px;
    margin-bottom: -10px;
}

.godot {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -13px;
    margin-right: 15px;
    margin-bottom: -10px;
}

.name_cs {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 63.7px;
    margin-top: 13px;
    margin-bottom: -10px;
}

.cs {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -13px;
    margin-right: 15px;
    margin-bottom: -10px;
}

.name_r {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 77.7px;
    margin-top: 13px;
    margin-bottom: -10px;
}

.r {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -13px;
    margin-right: 15px;
    margin-bottom: -10px;
}

.name_golang {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 28.7px;
    margin-top: 13px;
    margin-bottom: -30px;
}

.golang {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -13px;
    margin-right: 25px;
    margin-bottom: -25px;
}

.name_lisp {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 44.7px;
    margin-top: 13px;
    margin-bottom: -10px;
}

.lisp {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -13px;
    margin-right: 15px;
    margin-bottom: -10px;
}

.name_django {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 20.7px;
    margin-top: 13px;
    margin-bottom: -25px;
}

.django {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -13px;
    margin-right: 20px;
    margin-bottom: -25px;
}

.name_flutter {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 15.7px;
    margin-top: 13px;
    margin-bottom: -10px;
}

.flutter {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: -13px;
    margin-right: 15px;
    margin-bottom: -10px;
}

.wiki {
    text-decoration: none;
    color: rgb(61, 60, 60);
}

.wiki:hover {
    color: black;
}

.discord {
    position: relative;
    top: 27px;
}

.discord_name {
    font-size: 36px;
    text-decoration: none;
    color: black;
}

.github {
    position: relative;
    top: 27px;
}

.github_name {
    font-size: 36px;
    text-decoration: none;
    color: black;
}
